{% extends 'index.html' %}


{%block nav%}
<link rel="stylesheet" href="/assets/css/navbar.css">

<style>
    .nav{
        display: none;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 0;
        align-items: center;
    }
    @media(max-width: 991px){
        .conceal-dropdown{
            display: none !important;
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: 4px 24px;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    }
</style>


<div class="site-navigation main_menu menu-style-2" id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" >
                    <img src="/img/logo_4.png"  class="img-fluid">
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-dimiss="collapse" data-toggle="collapse" data-target="#navbar__" aria-controls="navbar__" aria-expanded="false" aria-label="Toggle navigation">
                    <span id = "navbar" class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse " id="navbar__">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/#service" id="navbar3" role="button"  >
                                服務項目<i class="fa fa-angle-down"></i>
                            </a>
                            <div id ="conceal-dropdown" class="dropdown-menu conceal-dropdown" aria-labelledby="navbar3">
                                <a class="dropdown-item " href="/more/2/">
                                     c 語言程式設計
                                </a>
                                <a class="dropdown-item " href="/more/3/">
                                    python 程式設計
                                </a>
                                <a class="dropdown-item " href="/more/1/">
                                    python 程式設計
                                </a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a href="/#contact" class="nav-link js-scroll-trigger">
                                聯絡我們
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/learning/" class="nav-link">
                                學員登入
                            </a>
                        </li>
                    </ul>

<!--                    <div class="header-login">-->
<!--                        <a href="#" class="btn btn-solid-border btn-sm ">Log In</a>-->
<!--                        <a href="#" class="btn btn-main btn-sm">sign up</a>-->
<!--                    </div>-->
                </div> <!-- / .navbar-collapse -->
            </div> <!-- / .container -->
        </nav>
    </div>
</header>
{%endblock%}

{% block content %}
<main class="site-main page-wrapper woocommerce single single-product">
    <section class="space-3">
        <div class="container">
                <div class="col-md-6"  style="margin-right: auto;margin-left: auto">
                    <div class="woocommerce-notices-wrapper"></div>
                    <form class="woocommerce-form woocommerce-form-login login" method="post">
                        <h2 class="font-weight-bold mb-4">管理員登入</h2>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="username">使用者名稱&nbsp;<span class="required">*</span></label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text form-control"  id="username"   placeholder="使用者名稱">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="password">密碼&nbsp;<span class="required">*</span></label>
                            <input class="woocommerce-Input woocommerce-Input--text input-text form-control" type="password"  id="password" placeholder="密碼">
                        </p>
<!--                        <p class="form-row">-->
<!--                            <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="a414dce984"><input type="hidden" name="_wp_http_referer" value="/my-account/">-->
                            <button type="button" onclick="login()" class="woocommerce-button button woocommerce-form-login__submit" >登入</button>
<!--                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">-->
<!--                                <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>-->
<!--                            </label>-->
<!--                        </p>-->
<!--                        <p class="woocommerce-LostPassword lost_password">-->
<!--                            <a href="#">Lost your password?</a>-->
<!--                        </p>-->
                    </form>
                </div>
        </div>
    </section>
    <!--shop category end-->
</main>

<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.js"></script>
<script src="/assets/vendors/counterup/waypoint.js"></script>
<script src="/assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/assets/vendors/jquery.isotope.js"></script>
<script src="/assets/vendors/owl/owl.carousel.min.js"></script>
<script src="/assets/vendors/google-map/map.js"></script>
<script src="https://ditu.google.cn/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
<script src="/assets/js/script.js"></script>
<script>
    let click_num = 0
    $('.navbar-toggler').click(()=>{
        click_num +=1
        if(click_num%2 == 0){
            $('#navbar__').addClass('nav')
        }else{
            $('#navbar__').removeClass('nav')
        }
    })
    let drop_num = 0
    $('#navbar3').click(()=>{
        drop_num +=1
        if(drop_num % 2== 0){
            $('#conceal-dropdown').addClass('conceal-dropdown')
        }else{
            $('#conceal-dropdown').removeClass('conceal-dropdown')
        }
    })
    document.addEventListener('keydown', input);
    function input(){
        if(event.keyCode==13){
            axios.post("/myadmin/login/",{
                'username':$('#username').val(),
                'password':$('#password').val()
            }).then(res=>{
                if(res.data.errno == 0){
                    swal({
                        'title':'登入成功',
                        'text':'正在為您導向主畫面',
                        'button':false,
                        'icon':'success',
                        'timer':1500,
                    })
                    setTimeout(()=>{
                        location.href = '/myadmin/'
                    },1500)
                }else if(res.data.errno == 1){
                    swal({
                        'title':'登入失敗',
                        'text':'不符學員身份或帳號不存在',
                        'button':['確認'],
                        'icon':'error'
                    })
                }else if (res.data.errno == 2){
                    swal({
                        'title':'登入失敗',
                        'text':'錯誤',
                        'button':['確認'],
                        'icon':'error'
                    })
                }
                else {
                    swal({
                        'title':'登入失敗',
                        'text':'管理員帳號',
                        'button':['確認'],
                        'icon':'error'
                    })
                }
            })
        }
    }
    function login(){
        axios.post("/myadmin/login/",{
            'username':$('#username').val(),
            'password':$('#password').val()
        }).then(res=>{
            if(res.data.errno == 0){
                swal({
                    'title':'登入成功',
                    'text':'正在為您導向主畫面',
                    'button':false,
                    'icon':'success',
                    'timer':1500,
                })
                setTimeout(()=>{
                    location.href = '/myadmin/'
                },1500)
            }else{
                swal({
                    'title':'登入失敗',
                    'text':'不符學員身份或帳號不存在',
                    'button':['確認'],
                    'icon':'error'
                })
            }
        })
    }
</script>
{% endblock %}

