{% extends 'index.html' %}


{%block nav%}
<ul class="navbar-nav mx-auto">
    <li class="nav-item ">
        <a href="/myadmin/" class="nav-link js-scroll-trigger">
            報名狀態
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/create/" class="nav-link">
            創建學員
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/info/" class="nav-link">
            新增課程
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/upload/" class="nav-link">
            上傳教材
        </a>
    </li>
    <div class="header-login">
        <a style=" border: 2px solid ;font-weight:500;border-color:black;background-color:white;margin-top:11px;margin-left:16px;border-radius: 5px !important;" onclick="logout_()" class="btn-admin btn btn-main btn-sm nav-btn logout_out_btn">登出</a>
    </div>
</ul>
{%endblock%}


{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>

    .flex-container {
        justify-content:  space-between ;
    }
    .contain{
        display: float;
        margin-left:auto;
        margin-right:auto
    }
    .input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
        padding: 0.53em;
        height: 38px;
        padding-left: 20px;
        background: #F5F5F5;
        border: 1px solid #F5F5F5;
    }
    .mx-auto {
        margin-left: auto!important;
        margin-right: 0px !important;
    }
    .btn-admin {
        padding: 8px 14px !important;
        font-size: .875rem;
        border-radius: 5px !important;
    }
</style>

<div style="margin : 100px"></div>
<div class="contain col-md-8">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label">使用者名稱</label>
            <input type = "text" placeholder="username" class="form-control" id="username">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">密碼</label>
            <input type="password" class="form-control" id="password" placeholder = "password">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">密碼確認</label>
            <input type="password" class="form-control" id="password2" placeholder = "password confirm">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">email</label>
            <input type="email" pattern=".+@.+" class="form-control" id="email" placeholder = "enter email ...">
          </div>
          <div class="col-md-6">
            <label for="inputState" class="form-label">身份</label>
            <select id="state" class="form-select">
          <option selected value=1>學員</option>
          <option selected value=3>教師</option>
        </select>
      </div>
  <div class="col-12">
    <a style="border-color:#f5f5f5;background-color: #f5f5f5;" onclick="submit_register()"  class="btn btn-primary">創建</a>
  </div>
</form>
    </div>
</div>
<!-- <script src="/assets/vendors/jquery/jquery.js"></script> -->
<!-- <script src="/assets/vendors/bootstrap/bootstrap.js"></script> -->
<!-- <script src="/assets/vendors/counterup/waypoint.js"></script> -->
<!-- <script src="/assets/vendors/counterup/jquery.counterup.min.js"></script> -->
<!-- <script src="/assets/vendors/jquery.isotope.js"></script> -->
<!-- <script src="/assets/vendors/owl/owl.carousel.min.js"></script> -->
<!-- <script src="/assets/vendors/google-map/map.js"></script> -->
<!-- <script src="/assets/js/script.js"></script> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>
        axios.post("/myadmin/info/").then(res=>{
            if(res.data.errno == 0){
                users = res.data.data
                users.forEach(item=>{
                    $('#student_').append(`
                        <tr id="student_${item.id}">
                            <td>${item.date}</td>
                            <td>${item.name}</td>
                        </tr>
                    `)
                })
            }
        })
        function submit_register(){
            axios.post('/myadmin/create/',{
                'username':$('#username').val(),
                'password':$('#password').val(),
                'password2':$('#password2').val(),
                'email':$('#email').val(),
                'permission':$('#state').val()
            }).then(res=>{
                if(res.data.errno == 5){
                    swal({
                         'title':'註冊失敗',
                         'text':'請輸入有效的電子郵件',
                         'button':['確認'],
                         'icon':'error'
                    })
                }
                if(res.data.errno == 4){
                    swal({
                         'title':'註冊失敗',
                         'text':'很抱歉，系統錯誤，請稍後再試',
                         'button':['確認'],
                         'icon':'error'
                    })
                }
                if(res.data.errno == 3){
                    swal({
                         'title':'註冊失敗',
                         'text':'很抱歉，使用者名稱已重複',
                         'button':['確認'],
                         'icon':'error'
                    })
                }
                if(res.data.errno == 2){
                    swal({
                         'title':'註冊失敗',
                         'text':'密碼不相容',
                         'button':['確認'],
                         'icon':'error'
                    })
                }
                if(res.data.errno == 1){
                    swal({
                         'title':'資料不齊全',
                         'text':'請輸入完整資料後再試',
                         'button':['確認'],
                         'icon':'error'
                    })
                }
                if(res.data.errno == 0){
                    swal({
                         'title':'註冊成功',
                         'text':'  ',
                         'button':['確認'],
                         'icon':'success'
                    })
                }
            })
        }
        function logout_(){
		swal({
			'title':'確定要登出嗎',
			'text':'',
			'buttons':['取消','確認'],
			'icon':'info',
		}).then(confirm=>{
			if(confirm) {
				axios.post('/myadmin/logout/').then(()=>{
					swal({
						'title':'已登出',
						'text':'正在導向主頁面',
						'buttons':false,
						'icon':'success',
						'timer':1500,
					})
					setTimeout(()=>{
						location.href = '/'
					},1500)
				})
			}
		})
	}

</script>
{% endblock %}

{% block footer %}
{% endblock %}