{% extends 'index.html' %}


{%block nav%}
<link rel="stylesheet" href="/assets/css/navbar.css">

<style>
    .nav{
        display: none;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 0;
        align-items: center;
    }
    @media(max-width: 991px){
        .conceal-dropdown{
            display: none !important;
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: 4px 24px;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    }
</style>


<div class="site-navigation main_menu menu-style-2" id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" >
                    <img src="/img/logo_4.png"  class="img-fluid">
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-dimiss="collapse" data-toggle="collapse" data-target="#navbar__" aria-controls="navbar__" aria-expanded="false" aria-label="Toggle navigation">
                    <span id = "navbar" class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse " id="navbar__">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item ">
                            <a href="/myadmin/" class="nav-link js-scroll-trigger">
                                報名狀態
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/myadmin/create/" class="nav-link">
                                創建學員
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/myadmin/info/" class="nav-link">
                                新增課程
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/myadmin/upload/" class="nav-link">
                                上傳教材
                            </a>
                        </li>
                        <div class="header-login">
                            <a style=" border: 2px solid ;font-weight:500;border-color:black;background-color:white;margin-top:11px;margin-left:16px;" onclick="logout_()" class="btn-admin btn btn-main btn-sm nav-btn logout_out_btn">登出</a>
                        </div>
                    </ul>
                </div> <!-- / .navbar-collapse -->
            </div> <!-- / .container -->
        </nav>
    </div>
</header>
<script>
function logout_(){
		swal({
			'title':'確定要登出嗎',
			'text':'',
			'buttons':['取消','確認'],
			'icon':'info',
		}).then(confirm=>{
			if(confirm) {
				axios.post('/myadmin/logout/').then(()=>{
					swal({
						'title':'已登出',
						'text':'正在導向主頁面',
						'buttons':false,
						'icon':'success',
						'timer':1500,
					})
					setTimeout(()=>{
						location.href = '/'
					},1500)
				})
			}
		})
	}
</script>
{%endblock%}


{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
    .flex-container {
        justify-content:  space-between ;
    }
    .contain{
        display: float;
        margin-left:auto;
        margin-right:auto
    }
    .input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
        padding: 0.53em;
        height: 38px;
        padding-left: 20px;
        background: #F5F5F5;
        border: 1px solid #F5F5F5;
    }
    .mx-auto {
        margin-left: auto!important;
        margin-right: 0px !important;
    }
    .btn-admin {
        padding: 8px 14px !important;
        font-size: .875rem;
        border-radius: 5px !important;
    }
</style>

<div style="margin : 100px"></div>
<div class="contain col-md-8">
        <form class="row g-3">
          <div class="col-md-12">
            <label for="inputEmail4" class="form-label">使用者名稱</label>
            <input  class="form-control" id="username">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">密碼</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">密碼</label>
            <input type="password" class="form-control" id="password2">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-6">
            <label for="inputState" class="form-label">身份</label>
            <select id="state" class="form-select">
          <option selected value=1>學員</option>
          <option selected value=3>教師</option>
        </select>
      </div>
  <div class="col-12">
    <a style="border-color:#f5f5f5;background-color: #f5f5f5;" onclick="submit_register()"  class="btn btn-primary">創建</a>
  </div>
</form>
    </div>
</div>
<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.js"></script>
<script src="/assets/vendors/counterup/waypoint.js"></script>
<script src="/assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/assets/vendors/jquery.isotope.js"></script>
<script src="/assets/vendors/owl/owl.carousel.min.js"></script>
<script src="/assets/vendors/google-map/map.js"></script>
<script src="/assets/js/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>
        axios.post("/myadmin/info/").then(res=>{
            if(res.data.errno == 0){
                users = res.data.data
                users.forEach(item=>{
                    $('#student_').append(`
                        <tr id="student_${item.id}">
                            <td>${item.date}</td>
                            <td>${item.name}</td>
                        </tr>
                    `)
                })
            }
        })
        function submit_register(){
            axios.post('/myadmin/create/',{
                'username':$('#username').val(),
                'password':$('#password').val(),
                'password2':$('#password2').val(),
                'email':$('#email').val(),
                'permission':$('#state').val()
            }).then(res=>{
                if(res.data.errno == 2){
                    swal({
                         'title':'註冊失敗',
                         'text':'密碼不相容',
                         'button':['確認'],
                         'icon':'error'
                    })
                }
                if(res.data.errno == 1){
                    swal({
                         'title':'系統出錯',
                         'text':'請重新登入或稍後再試',
                         'button':['確認'],
                         'icon':'error'
                    })
                }
                if(res.data.errno == 0){
                    swal({
                         'title':'註冊成功',
                         'text':'  ',
                         'button':['確認'],
                         'icon':'success'
                    })
                }
            })
        }
</script>
{% endblock %}

{% block footer %}
{% endblock %}