{% extends 'index.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


{%block nav%}
<ul class="navbar-nav mx-auto">
    <li class="nav-item ">
        <a href="/myadmin/" class="nav-link js-scroll-trigger">
            報名狀態
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/create/" class="nav-link">
            創建學員
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/info/" class="nav-link">
            新增課程
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/upload/" class="nav-link">
            上傳教材
        </a>
    </li>
    <div class="header-login">
        <a style=" border: 2px solid ;font-weight:500;border-color:black;background-color:white;margin-top:11px;margin-left:16px;border-radius: 5px !important;" onclick="logout_()" class="btn-admin btn btn-main btn-sm nav-btn logout_out_btn">登出</a>
    </div>
</ul>
{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
    .btn-admin {
        padding: 8px 14px !important;
        font-size: .875rem;
        border-radius: 5px !important;
    }
    .mx-auto {
        margin-left: auto!important;
        margin-right: 0px !important;
    }
    .flex-container {
        justify-content:  space-between ;
    }
    .contain{
        display: float;
        margin-left:auto;
        margin-right:auto
    }
    .btn-primary {
        color: #fff;
        background-color: #f5f5f5;border-color: #f5f5f5;
    }
    .input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
        padding: 0.53em;
        height: 38px;
        padding-left: 20px;
        background: #F5F5F5;
        border: 1px solid #F5F5F5;
    }
    @media (max-width: 768px){
        .all_student{
            display:none
        }
    }

</style>

<div style="margin : 100px"></div>
<div class="contain col-md-10">
    <div class="all_student col-md-3 flex-container">
        <div >
            <legend>所有學員</legend>
            <div style="float: left ;margin-right: 50px;width: 100%" class="card">
                <div class="card-header">
                    <div class="card-title">名單</div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="cursor: auto;">
                            <th scope="col">#編號</th>
                            <th scope="col">學員姓名</th>
                        </tr>
                        </thead>
                        <tbody id="student_"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class ="col-md-12 flex-container " >
        <form>
            <fieldset>
                <legend>新增課程</legend>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">課程封面相片(非必填)</label>
                    <input type="file" class="form-control" id="picture" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">課程名稱</label>
                    <input  class="form-control" id="course_name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">meeting連結(ex:wnh-naxm-drt)</label>
                    <input  class="form-control" id="meet" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="SelectTeacher" class="form-label">選擇教師</label>
                    <select id="SelectTeacher" class="form-select">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="SelectStudent" class="form-label">選擇學員</label>
                    <div id="SelectStudent" ></div>
                </div>
                <a style="color:#212529" onclick="submit___()" class="btn btn-primary">送出</a>
            </fieldset>
        </form>
    </div>
</div>
<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.js"></script>
<script src="/assets/vendors/counterup/waypoint.js"></script>
<script src="/assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/assets/vendors/jquery.isotope.js"></script>
<script src="/assets/vendors/owl/owl.carousel.min.js"></script>
<script src="/assets/vendors/google-map/map.js"></script>
<script src="/assets/js/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>
    axios.post("/myadmin/info/").then(res=>{
        if(res.data.errno == 0){
            users = res.data.data
            users.forEach(item=>{
                $('#student_').append(`
                    <tr id="student_${item.id}">
                        <td>${item.id}</td>
                        <td>${item.name}</td>
                    </tr>
                `)
                $('#SelectStudent').append(`
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name = "check" value="${item.name}" id="flexCheckChecked" >
                      <label class="form-check-label" for="flexCheckChecked">
                        ${item.name}
                      </label>
                    </div>
                `)
            })

            teachers = res.data.teacher
            teachers.forEach(item=>{
                $('#SelectTeacher').append(`
                    <option value="${item.name}">${item.name}</option>
                `)
            })
        }
    })
    function submit___(){
        console.log('success')
        let checkArr=[];
        $("input[name='check']:checked").each(function(){
            checkArr.push($(this).val());
        })
        let formdata = new FormData();
        try{
            const file =  $('#picture')[0].files[0].name
            formdata.append('file',$('#picture')[0].files[0]);
        }catch{}
        console.log($('meet').val())
        formdata.append('meet',$('#meet').val())
        formdata.append('student',checkArr)
        formdata.append('teacher',$('#SelectTeacher').val())
        formdata.append('course_name',$('#course_name').val())
        console.log(formdata)
        axios({
            url:'/myadmin/post/',
            method:'post',
            data:formdata,
            headers:{'Content-Type': 'multipart/form-data;charset=UTF-8'}
        }).then(res=>{
            if(res.data.errno == 0){
                swal('成功新增','','success')
            }else if(res.data.errno == 1){
                swal('新增錯誤','課程名稱重複','info')
            }else if(res.data.errno == 2){
                swal('新增錯誤','資料填寫不齊全','info')
            }
        })
    }
    function logout_(){
		swal({
			'title':'確定要登出嗎',
			'text':'',
			'buttons':['取消','確認'],
			'icon':'info',
		}).then(confirm=>{
			if(confirm) {
				axios.post('/myadmin/logout/').then(()=>{
					swal({
						'title':'已登出',
						'text':'正在導向主頁面',
						'buttons':false,
						'icon':'success',
						'timer':1500,
					})
					setTimeout(()=>{
						location.href = '/'
					},1500)
				})
			}
		})
	}
</script>
{% endblock %}

{% block footer %}
{% endblock %}