{% extends 'index.html' %}


{%block nav%}
<ul class="navbar-nav mx-auto">
    <li class="nav-item ">
        <a href="/myadmin/" class="nav-link js-scroll-trigger">
            報名狀態
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/create/" class="nav-link">
            創建學員
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/info/" class="nav-link">
            新增課程
        </a>
    </li>
    <li class="nav-item ">
        <a href="/myadmin/upload/" class="nav-link">
            上傳教材
        </a>
    </li>
    <div class="header-login">
        <a style=" border: 2px solid ;font-weight:500;border-color:black;background-color:white;margin-top:11px;margin-left:16px;border-radius: 5px !important;" onclick="logout_()" class="btn-admin btn btn-main btn-sm nav-btn logout_out_btn">登出</a>
    </div>
</ul>
{%endblock%}


{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
    .btn-admin {
        padding: 8px 14px !important;
        font-size: .875rem;
        border-radius: 5px !important;

    .mx-auto {
        margin-left: auto!important;
        margin-right: 0px !important;
    }
	.content{
		margin-top :100px;
	}
	.col-md-9 {
		width: 83.33333333%;
		float: none;
	}
	@media (max-width: 991px) {
        .col-md-9 {
            width: 95%;
            float: none;
        }
    }
</style>
<div class="content" >
	<div class="page-inner">
		<div class="row" >
			<div class="col-md-7" style="display: flow;margin-left: auto;margin-right: auto">
				<div class="card">
					<div class="card-header">
						<div class="card-title">詳細資訊</div>
					</div>
					<div class="card-body">
                        <table class="table table-hover">
							<thead>
							<tr style="cursor: auto;">
								<th scope="col">{{ contact.name }}</th>
							</tr>
							</thead>
							<tbody id="contact_">
							    <tr>
                                    <th scope="col">{{ contact.date }}</th>
                                </tr>
								<tr>
                                    <th scope="col">{{ contact.email }}</th>
                                </tr>
                                <tr style="cursor: auto;">
                                    <th scope="col">{{ contact.phone }}</th>
                                </tr>
                                <tr style="cursor: auto;">
                                    <th scope="col">{{ contact.text }}</th>
                                </tr>
                                {% if contact.is_contact %}
                                    <tr style="cursor: auto; color: #39d10a">
                                        <th  scope="col">已聯絡</th>
                                    </tr>
                                {% else %}
                                    <tr style="cursor: auto; color: #cc0000">
                                        <th scope="col">尚未聯絡</th>
                                    </tr>
                                {% endif %}
                                {% if contact.is_sign %}
                                    <tr style="cursor: auto; color: #39d10a">
                                        <th  scope="col">已報名</th>
                                    </tr>
                                {% else %}
                                    <tr style="cursor: auto; color: #cc0000">
                                        <th scope="col">尚未報名</th>
                                    </tr>
                                {% endif %}
                                <tr style="cursor: auto;">
                                    <th scope="col">
                                        <a onclick="delete_({{contact.id}})" style="cursor: auto; color: #cc0000" >刪除此聯絡人</a>
                                    </th>
                                </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>



    function delete_(id){
        swal({
            'icon':'info',
            'buttons':['取消','刪除'],
            'title': '確定要刪除',
            'text':'一但刪除將無法復原'
        }).then((confirm)=>{
            if(confirm){
                axios.post(`/myadmin/delete/${id}/`).then(res=>{
                    if(res.data.errno == 0){
                        swal({
                            'icon':'success',
                            'buttons':false,
                            'title': '已成功刪除',
                            'text':'\n',
                            'timer':1500
                        })
                        setTimeout(()=>{
                            location.href = '/myadmin/'
                        },1500)
                    }
                })
            }
        })
    }
    function logout_(){
		swal({
			'title':'確定要登出嗎',
			'text':'',
			'buttons':['取消','確認'],
			'icon':'info',
		}).then(confirm=>{
			if(confirm) {
				axios.post('/myadmin/logout/').then(()=>{
					swal({
						'title':'已登出',
						'text':'正在導向主頁面',
						'buttons':false,
						'icon':'success',
						'timer':1500,
					})
					setTimeout(()=>{
						location.href = '/'
					},1500)
				})
			}
		})
	}
</script>
{% endblock %}

{% block footer %}
{% endblock %}