
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Education LMS template by Dreambuzz">
    <meta name="keywords" content="Eduhash,education,lms,seo,course,online,learning,caoch,training,tutor">
    <meta name="author" content="themeturn.com">
    <title>文宏線上程式學院，c語言、python程式設計、django網頁開發教學</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="文宏線上程式學院，提供c語言、python程式設計即django網頁開發的教學">
    <link rel="icon" href="/assets/images/favicon.png"  type="image/png" >
    <link rel="stylesheet" href="/assets/css/style_.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.css">
    <link rel="stylesheet" href="/assets/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="/assets/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="/assets/vendors/owl/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/mycss.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="/assets/vendors/jquery/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>


</head>

<span id="top-header"></span>



<link rel="stylesheet" href="/assets/css/navbar.css">
<div class="site-navigation main_menu menu-style-2" id="mainmenu-area">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand" >
                <img src="/img/logo_4.png"  class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-dimiss="collapse" data-toggle="collapse" data-target="#navbar__" aria-controls="navbar__" aria-expanded="false" aria-label="Toggle navigation">
                <span id = "navbar" class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbar__">
                {%block nav%}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            服務項目
                        </a>
                        <div class=" dropdown-menu" >
                            <span id="load_lecture">

                            </span>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a href="/#contact" class="nav-link js-scroll-trigger">
                            聯絡我們
                        </a>
                    </li>
                    <li class="nav-item ">
                        {% if request.user.is_authenticated %}
                        <a href="/learning/" class="nav-link">
                            您的課程
                        </a>
                        {% else %}
                        <a href="/learning/" class="nav-link">
                            學員登入
                        </a>
                        {% endif %}
                    </li>
                </ul>
                <script>
                    axios.post('/load_lecture/').then((res)=>{
                        lectures = res.data.lecture
                        lectures.forEach(item=>{
                            $('#load_lecture').append($(`
                                <a  class="dropdown-margin dropdown-item " href="/page?theme=${item}">
                                    ${item}
                                </a>
                            `))
                        })
                    })
                </script>
            {%endblock%}

            </div>
        </div>
    </nav>
</div>


{% block content %}
<section class="banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-xl-7">
                <div class="banner-content text-center">
                    <span class="subheading" >文宏教育</span>
                    <h1><span class="font-weight-normal" >文宏線上程式學院</span></h1>
                    <p class="font_size">程式設計 / 網頁設計</p>
                    <a style="opacity: 0.65" href="#contact" class="btn btn-tp" >聯絡我們 </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service" class="feature section-padding pb-0">
    <div  class=" course-container container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-9">
                <div class="section-heading center-heading">
                    <span class="subheading">服務項目</span>
                    <h3 class="title_size">什麼樣的課程適合我？</h3>
                    <p style="margin:0px" class="font_size">文宏教育提供 c 語言、python 基礎程式語言教學、以及網頁設計等實戰課程</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 display-course left-course">
                <div style="border:1px solid #eef2fb" class="course-block">
                    <div style="border-radius: 0px;" class="course-img">
                        <a href= "/page?theme=python 程式設計">
                            <img src="/assets/images/blog/blog1.jpg" alt="" class="img-fluid">
                        </a>
                        <div class="course-price ">$700/hr </div>
                    </div>
                    <div class="course-content">
                        <a href= "/page?theme=python 程式設計"><span class="course-cat course-cat-size">c、python 基礎程式語言</span></a>
                        <h4 class= "course_size"><a href= "/more/2/">訓練資訊的邏輯思考，帶領你進入電腦的世界</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 display-course">
                <div style="border:1px solid #eef2fb" class="course-block">
                    <div style="border-radius: 0px;" class="course-img">
                        <a href= "/page?theme=django 網頁設計">
                            <img src="/assets/images/blog/blog2.jpg" alt="" class="img-fluid">
                        </a>
                        <div class="course-price ">$800/hr </div>
                    </div>
                    <div class="course-content">
                        <a href= "/page?theme=django 網頁設計"><span class="course-cat course-cat-size">Django 網頁設計</span></a>
                        <h4 class= "course_size"><a href= "/more/1/">設計屬於你的網頁，手把手帶領你做出成品</a></h4>
                    </div>
                </div>
            </div>

            <div  class=" col-lg-4 col-md-6 display-course right-course">
                <div style="border:1px solid #eef2fb" class="course-block">
                    <div style="border-radius: 0px;" class="course-img">
                        <a href= "#">
                            <img src="/assets/images/blog/blog3.jpg" alt="" class="img-fluid">
                        </a>
                        <div class="course-price ">$？ </div>
                    </div>
                    <div  class="course-content">
                        <a href= "#"><span class="course-cat course-cat-size">其他課程</span></a>
                        <h4 class= "course_size"><a href= "#">其他與電腦程式相關課程皆可以詢問</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature section End -->

<section style="background:#f7fbf7;"  class="icon-padding section-padding popular-course bg-grey">
    <div class="container icon-container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading center-heading">
                    <span class="subheading">最大化你的潛能</span>
                    <h3 >一起踏上成為 IT 人之路</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-xl-3 icon-max-width" >
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-flag"></i>
                    </div>
                    <div class="feature-text">
                        <h5 class = "title_size1">就業導向</h5>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-xl-3 icon-max-width">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-layers"></i>
                    </div>
                    <div class="feature-text">
                        <h5 class = "title_size1">自我成長</h5>
                    </div>
                </div>
            </div>
             <div class="col-lg-3 col-md-6 col-xl-3 icon-max-width">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-video-camera"></i>
                    </div>
                    <div class="feature-text">
                        <h5 class = "title_size1">遠距授課</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xl-3 icon-max-width">
                <div class="feature-item">
                    <div class="feature-icon">
                        <i class="flaticon-help"></i>
                    </div>
                    <div class="feature-text">
                        <h5 class = "title_size1">翻轉討論室</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section Start -->
<section class="about-section section-padding">
    <div class="container teach-container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 teacher-info">
                <div class="video-block">
                    <img src="/assets/images/bg/about.jpg" alt="" class="img-fluid">
               </div>
            </div>
            <div class="col-xl-6 left col-lg-6 teacher-info">
                <div class="section-heading mt-4 mt-lg-0 ">
                    <span class="subheading">加入我們</span>
                    <h3 class="title_size">手把手帶領你成為軟體工程師<span></span></h3>
                    <p class="font_size">隨著時代的發展，資訊已成生活中不可或缺的一部分，在網路是新月異的時代，習得軟體的能力無不是求職的一大利器</p>
                </div>
                <ul class="about-features">
                    <li style="display:flex">
                        <i class="fa fa-check"></i>
                        <h6 class="title_size1">一對一教學</h6>
                    </li>
                    <li  style="display:flex">
                        <i class="fa fa-check"></i>
                        <h6 class="title_size1">完善課後輔導系統</h6>
                    </li>
                    <li  style="display:flex">
                        <i class="fa fa-check"></i>
                        <h6 class="title_size1">不同面向的人生建議</h6>
                    </li>
                </ul>
                <a href="#contact" class="btn btn-main">聯絡我們</a>
            </div>
        </div>
    </div>
</section>

<section  class="testimonial section-block">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-9">
                <div class="section-heading center-heading">
                    <span class="subheading">送給學子的一段話</span>
                    <h3>面對時代的潮流，堅定信心</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-section section-padding">
    <div class="container teach-container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-6 teacher-info">
                <div class="section-heading ">
                    <span class="subheading">對未來感到迷惘嗎？</span>
                    <h3>培養對學習的興趣</h3>
                    <p class="font_size">興趣是成為軟體工程師的必要元素。試著做出人生第一份屬於自己的專案</p>
                </div>
                <div class="about-text-block">
                    <div class="icon-box">
                        <i class="flaticon-help"></i>
                    </div>
                    <div class="about-desc">
                        <h4 class="title_size1">扎實基礎</h4>
                        <p  class="font_size">
                            以實戰為主的教學模式，讓學生在能夠在不同的挑戰中都能脫穎而出
                        </p>
                    </div>
                </div>
                <div class="about-text-block">
                    <div class="icon-box">
                        <i class="flaticon-idea"></i>
                    </div>
                    <div class="about-desc">
                        <h4 class="title_size1">注重創新</h4>
                        <p  class="font_size">
                            我們不僅教授程式語言，更重視學生的創新能力與想像力，培養學生的創新思維
                        </p>
                    </div>
                </div>
                <div class="about-text-block">
                    <div class="icon-box border-none">
                        <i class="flaticon-flag"></i>
                    </div>
                    <div class="about-desc">
                        <h4 class="title_size1">實戰成品</h4>
                        <p class="font_size">
                            強調實作，讓學生能夠打造出屬於自己並且真實可用的程式作品
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 teacher-info">
                <div class="about-img">
                    <img src="/assets/images/bg/about-image.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>



<section id = "contact" class="subscribe section-padding-contact pt-0">
    <div class="container container-contact">
        <div class="row align-items-center form-inner">
            <div class="col-lg-6 col-xl-6">
                <div class="section-heading mb-0">
                    <span class="subheading">聯絡我們</span>
                    <form  class="subscribe-form ">
                        <input style="margin-top: 15px" type="email" id = "email" placeholder="電子郵件信箱" class="form-control form_height">
                    </form>
                    <form  class="subscribe-form">
                        <input style="margin-top: 15px " type="phone" id = "phone" placeholder="電話號碼" class="form-control form_height">
                    </form>
                    <form  class="subscribe-form">
                        <input class="form-control form_height" style="margin-top: 15px " type="name" id = "name" placeholder="姓名" >
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <form action="#" class="subscribe-form">
                    <textarea style="margin-top: 38px;" type="text" id = "content" placeholder="內容" class="form-control text-height"></textarea>
                    <a  id="submit" class="btn btn-main subbnt font_size">提交</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<style>
    .footer {
        background: #EBF4F8;
        padding: 60px 0px 0px;
        position: relative;
    }
    .footer-btm {
        margin-top: 40px;
        padding: 20px 0px 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
</style>
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<div class="footer-logo">
						<img  src="/img/logo_4.png" alt="EduHash" class="img-fluid">
					</div>
					<p class="mt-3 font_size">
                        文宏教育，新時代全線上化教學，不論身在何處，都讓您享受最完善的教育資源
                    </p>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-md-6 col-xl-2">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">專員電話</h5>
					<ul class="list-unstyled footer-links">
						<li><p class="font_size">0905-570-446</p></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6 col-xl-2">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">電子郵件信箱</h5>
					<ul class="list-unstyled footer-links">
						<li><p class="font_size">wenhongli0510@gmail.com</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-xl-6 col-lg-6">
					<div class="copyright  text-center">
						<p class="font_size">網頁開發作者：李紹宏</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>
{% endblock %}

<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.js"></script>
<script src="/assets/vendors/counterup/waypoint.js"></script>
<script src="/assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/assets/vendors/jquery.isotope.js"></script>
<script src="/assets/vendors/owl/owl.carousel.min.js"></script>
<script src="/assets/vendors/google-map/map.js"></script>
<script src="/assets/js/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    let click_num = 0
    $('.navbar-toggler').click(()=>{
        click_num +=1
        if(click_num%2 == 0){
            $('#navbar__').addClass('nav')
        }else{
            $('#navbar__').removeClass('nav')
        }
    })


    $("#submit").click(()=>{
        axios.post('/',{
            email: $('#email').val(),
            name: $('#name').val(),
            phone: $('#phone').val(),
            text: $('#text')
        }).then(res=>{
            if(res.data.errno == 0){
                swal({
                    icon: 'success',
                    buttons: false,
                    timer :1500,
                    title: '已成功送出',
                    text :'\n'
                })
            }else if(res.data.errno == 1){
                swal({
                    icon : 'error',
                    buttons: false,
                    timer :1500,
                    title: '錯誤',
                    text :'\n'
                })
            }else if(res.data.errno == 2){
                swal({
                    icon : 'info',
                    buttons: false,
                    timer :1500,
                    title: '姓名及電子郵件為必填',
                    text :'\n'
                })
            }
        })
    })
</script>
</html>
