{% extends 'index.html' %}


{% block content %}
<!--<link rel="stylesheet" href="/assets/css/single_course.css">-->
<style>
.recent-posts li {
        clear: both;
        margin-bottom: 0px;
        border-bottom: 1px solid #eee;
        padding-bottom: 30px;
}
.img-fluid1 {
    max-width: 100%;
    height: 240px !important;
    object-fit: cover;
}
@media (max-width: 1200px) {
    .img-fluid1 {
        max-width: 100%;
        height: 210px !important;
        object-fit: cover;
    }
}
@media (max-width: 991px) {
    .course-img{
        height: auto;
        width: 70px;
        border-radius: 5%;
    }
    .widget-post-thumb {
        width: 80px;
        border-radius: 5px;
        margin-right: 15px;
        overflow: hidden;
        float: left;
    }
    .course_title_size{
        font-size: 18px !important;
    }
    .display-more1 {
        max-width: 100% !important;
        padding-left: 90px;
        padding-right: 90px;
        padding-bottom: 25px;
    }
    .display-more2 {
        max-width: 100% !important;
        padding-left: 90px;
        padding-right: 90px;
    }

    .img-fluid1 {
        max-width: 100%;
        height: 290px !important;
        object-fit: cover;
    }
    .course-sidebar.course-sidebar-2 .course-widget ul {
        padding: 0px 30px 30px;
    }
    .course-sidebar.course-sidebar-2 .course-widget .buy-btn {
        padding: 0px 30px;
    }
}
@media (max-width: 868px) {
    .widget-post-thumb {
        width: 80px;
        border-radius: 5px;
        margin-right: 10px;
        overflow: hidden;
        float: left;
    }
    .course-img{
        height: auto;
        width: 70px;
        border-radius: 5%;
    }
    .course_title_size{
        font-size: 20px !important;
    }
    .display-more1 {
        max-width: 100% !important;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 25px;
    }
    .display-more2 {
        max-width: 100% !important;
        padding-left: 100px;
        padding-right: 100px;
    }

    .course-sidebar.course-sidebar-2 .course-widget ul {
        padding: 0px 20px 20px;
    }
    .course-sidebar.course-sidebar-2 .course-widget .buy-btn {
        padding: 0px 20px;
    }
}
@media (max-width: 767px) {
    .course-sidebar.course-sidebar-2 .course-widget ul {
        padding: 0px 15px 15px;
    }
    .course-sidebar.course-sidebar-2 .course-widget .buy-btn {
        padding: 0px 15px;
    }
    .display-more1 {
        max-width: 100% !important;
        padding-right: 85px;
        padding-left: 85px;
    }
    .display-more2 {
        max-width: 100% !important;
        padding-right: 85px;
        padding-left: 85px;
    }
    .container1{
        max-width: 95% !important;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 280px !important;
        object-fit: cover;
    }
}
@media (max-width: 710px) {
    .display-more1 {
        max-width: 100% !important;
        padding-right: 60px;
        padding-left: 60px;
    }
    .display-more2 {
        max-width: 100% !important;
        padding-right: 60px;
        padding-left: 60px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 250px !important;
        object-fit: cover;
    }
    .container1{
        max-width: 95% !important;
    }
}
@media (max-width: 637px) {
    .display-more1 {
        max-width: 100% !important;
        padding-right: 55px;
        padding-left: 55px;
    }
    .display-more2 {
        max-width: 100% !important;
        padding-right: 55px;
        padding-left: 55px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 240px !important;
        object-fit: cover;
    }

}
@media (max-width: 575px) {
    .course-sidebar.course-sidebar-2 .course-widget ul {
        padding: 0px 50px 10px;
    }
    .course-sidebar.course-sidebar-2 .course-widget .buy-btn {
        padding: 0px 50px;
    }
    .container1{
        max-width: 70% !important;
    }
    .display-more1{
        max-width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .display-more2{
        max-width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 220px !important;
        object-fit: cover;
    }
}
@media (max-width: 535px) {
    .course-sidebar.course-sidebar-2 .course-widget ul {
        padding: 0px 40px 10px;
    }
    .course-sidebar.course-sidebar-2 .course-widget .buy-btn {
        padding: 0px 40px;
    }
    .container1{
        max-width: 75% !important;
    }
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 240px !important;
        object-fit: cover;
    }
}
@media (max-width: 500px) {
    .course-sidebar.course-sidebar-2 .course-widget ul {
        padding: 0px 36px 10px;
    }
    .course-sidebar.course-sidebar-2 .course-widget .buy-btn {
        padding: 0px 36px;
    }
    .container1{
        max-width: 80% !important;
    }
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 235px !important;
        object-fit: cover;
    }
}
@media (max-width: 480px) {
    .course_title_size{
        font-size: 16px !important;
    }
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 230px !important;
        object-fit: cover;
    }
}
@media (max-width: 460px) {
    .display-more1{
        max-width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .display-more2{
        max-width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 220px !important;
        object-fit: cover;
    }
}
@media (max-width: 440px) {
    font-size2{
        font-size: 13.5px !important;
    }
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 215px !important;
        object-fit: cover;
    }
}
@media (max-width: 420px) {
    font-size2{
        font-size: 12.5px !important;
    }
    .container1{
        max-width: 90% !important;
    }
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 210px !important;
        object-fit: cover;
    }
}
@media (max-width: 400px) {
    .course-thumbnail {
        margin-bottom: 0px;
    }
    .img-fluid1 {
        max-width: 100%;
        height: 200px !important;
        object-fit: cover;
    }
    .edutim-course-content .learn-press-nav-tabs .course-nav a {
        color: #ababab;
        font-size: 16px;
        font-weight: 700;
        transition: all .4s ease 0s;
        border: 0px;
        border-bottom: 2px solid transparent;
        padding: 15px 20px;
    }
}
</style>
<section class="page-header">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8 ">
                <div class="title-block">
                    <h1><span class="font-weight-normal">{{lecture.name}}</span></h1>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <a style="color: #21ad96" href="/">主頁</a>
                        </li>
                         <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            {{lecture.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-wrapper edutim-course-single edutim-course-content">
    <div class="container container1">
        <div class="row">
            <div class="col-lg-8 display-more1">
                <nav class="course-single-tabs learn-press-nav-tabs">
                    <div class="nav nav-tabs  course-nav" id="nav-tab" role="tablist">
                      <a class="title_size nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">課程大綱</a>
                      <a class="title_size nav-item nav-link" id="nav-topics-tab" data-toggle="tab" href="#nav-topics" role="tab" aria-controls="nav-profile" aria-selected="false">免費資源</a>
                      <a class="title_size nav-item nav-link" id="nav-instructor-tab" data-toggle="tab" href="#nav-instructor" role="tab" aria-controls="nav-contact" aria-selected="false">講師資料</a>
                    </div>
                </nav>
                <div class="tab-content edutim-course-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="single-course-details ">
                            <h4 class="course-title title_size">{{lecture.name}}介紹</h4>
                            <p class="font_size">
                                {{lecture.introduce}}
                            </p>
                            <h4 class="course-title title_size">課程大綱</h4>
                            <p class="font_size">
                                {{lecture.outline}}
                            </p>
                            <div class="course-widget course-info">
                                <h4 class="course-title title_size">您將會學到</h4>
                                <ul>
                                    <span id = "chapter" class="font_size"></span>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-topics" role="tabpanel" aria-labelledby="nav-topics-tab">
                        <div class="edutim-course-curriculum " >
                            <div class="curriculum-scrollable">
                                <ul class="curriculum-sections">
                                    <li class="section">
                                        <div class="section-header">
                                            <div class="section-left">
                                                <h5 class="section-title">{{lecture.name}}公開資源</h5>
                                                <p class="section-desc">
                                                    以下是文宏教育提供的免費公開資源，歡迎下載閱讀
                                                </p>
                                            </div>
                                        </div>
                                        <ul id = "resource" class="section-content">
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-instructor" role="tabpanel" aria-labelledby="nav-instructor-tab">
                        <div class="courses-instructor">
                            <div class="single-instructor-box">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-4 ">
                                        <div class="instructor-image">
                                            <img src="/assets/images/blog/author.jpg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="instructor-content">
                                            <h4>{{lecture.teacher}}</h4>
                                            <p>教學科目：{{lecture.name}}</p>
                                            <p>簡歷：{{lecture.teacher_info}}</p>
                                            <p>聯絡方式：{{lecture.teacher_email}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 display-more2">
                <div class="course-sidebar course-sidebar-2">
                    <div class="course-widget course-details-info">
                        <div class="course-thumbnail">
                            <img  src="/img/{{lecture.image}}" alt="" class="img-fluid img-fluid1 w-100">
                        </div>
                        <ul>
                            <li>
                                <div class=" d-flex justify-content-between align-items-center">
                                    <span><i class="fa fa-money-bill"></i>價格:</span>
                                    {{lecture.fee}} / hr
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="far fa-user"></i>講師 :</span>
                                    {{lecture.teacher}}
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span><i class="far fa-calendar"></i>上課時間</span>
                                    不限
                                </div>
                            </li>
                        </ul>
                        <div class="buy-btn">
                            <button id = "btn" style="border:#20ad96;color: #f7f7f7" class="font_size button button-enroll-course btn btn-primary">
                                馬上報名
                            </button>
                        </div>
                    </div>
                    <div class="course-latest">
                        <h4 class="title_size" >所有課程</h4>
                        <ul class="recent-posts course-popular" id = "all">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.js"></script>
<script src="/assets/vendors/counterup/waypoint.js"></script>
<script src="/assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/assets/vendors/jquery.isotope.js"></script>
<script src="/assets/vendors/owl/owl.carousel.min.js"></script>
<script src="/assets/vendors/google-map/map.js"></script>
<script src="/assets/js/script.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>
    url = location.href
    console.log(url)
    axios.post(url).then((res)=>{
        data = res.data.chapter
        data.forEach((item)=>{
            $("#chapter").append($(`
                <li style="margin-top: 5px;">
                    <i class="fa fa-check"></i>
                    ${item}
                </li>
            `))
        })
        // 載入可下載文件
        resource = res.data.resource
        let id = 0
        resource.forEach(item=>{
            id += 1
            $('#resource').append($(`
                <li class="course-item has-status course-item-lp_lesson">
                    <a class="section-item-link" href="/img/${item.file}">
                        <span class="item-name">${item.name}</span>
                        <div class="course-item-meta">
                            <span class="item-meta duration">lesson ${id}</span>
                            <i class="item-meta course-item-status"></i>
                        </div>
                    </a>
                </li>
            `))
        })
        // 載入側邊欄課程
        all = res.data.all
        all.forEach(item=>{
            $('#all').append($(`
                <li>
                    <div class="widget-post-thumb">
                        <a href="/page/?theme=${item.name}"><img src="/img/${item.image}" style="width: 80px;height: 80px;object-fit: cover" class=" course-img"></a>
                    </div>
                    <div class="widget-post-body">
                        <h6 class="course_title_size"> <a href="/page/?theme=${item.name}">${item.name}</a></h6>
                        <h5 class="course_title_size">$ ${item.fee}/hr</h5>
                    </div>
                </li>
            `))
        })
    })
    $("#btn").click(()=>{
        location.href = '/#contact'
    })


</script>


{% endblock %}