{% extends 'index.html' %}

{% block nav %}
<style>
    .site-navigation {
        padding: 0px;
        border-bottom: 1px solid #EBF4F8;
    }
    .navbar-brand img {
        width: 236px;
        height: 45px;
}
</style>
<header>
    <div class="site-navigation main_menu menu-transparent" id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid container-padding">
                <a class="navbar-brand" href="index.html">
                    <img src="/img/logo_4.png" alt="Eduhash" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mx-auto"></ul>

                    <div class="d-flex align-items-center">
                         <a style="font-size: 1rem;color:#001327" class="btn btn-main btn-sm" href="/learning/" role="button" >我的課程</a>
                    </div>
                    <div class="header-login">
                        <a style="font-size: 1rem;" onclick="logout_()" class="btn btn-main btn-sm">登出</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>
        function logout_(){
            swal({
                'title':'確定要登出嗎',
                'text':'',
                'buttons':['取消','確認'],
                'icon':'info',
            }).then(confirm=>{
                if(confirm) {
                    axios.post('/myadmin/logout/').then(()=>{
                        swal({
                            'title':'已登出',
                            'text':'正在導向主頁面',
                            'buttons':false,
                            'icon':'success',
                            'timer':1500,
                        })
                        setTimeout(()=>{
                            location.href = '/'
                        },1500)
                    })
                }
            })
        }
</script>
{% endblock %}

{% block content %}
    <style>
        .avatar {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            padding-right: 0px;
            padding-left: 0px;
            margin: 20px;
        }
        .course_box{
          padding: 30px
        }
        .bubbleTail{
            position:absolute;
            width:17px;
            height:47px;
            border-width:0;
            border-style:solid;
            border-color:transparent;
            margin-left:-1px;
            border-top-width:12px;
            border-top-color:currentColor;
            border-radius:0 94px 0 0;
            color:#dddddd;
        }
        @media (max-width: 767px) {
          .blog_section .box .img-box img {
          }
        }
        @media(max-width: 640px){
          .course_box{
            padding: 0px;
            padding-top: 25px;
          }
          .blog_section .box .img-box img {
          }
        }
        @media(max-width: 540px){
          .course_box{
            padding: 0px;
            padding-top: 25px;
          }
          .blog_section .box .img-box img {
          }
        }
        @media(max-width: 492px){
          .course_box{
            padding: 0px;
            padding-top: 25px;
          }
          .img-box img {
          }
        }
        @media(max-width: 450px){
          .blog_section .box .img-box img {
          }
          .course_box{
            padding: 0px;
            padding-top: 20px;
            padding-bottom: 5px;
          }
        }

    </style>

    <section class="page-header">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-8">
            <div class="title-block">
              <h1>{{course.name}}</h1>
              <ul class="list-inline mb-0">

                <li class="list-inline-item">
                    文宏教育 正在改寫你的人生篇章
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section style="background-color: #ffffff" class="course_box blog_section layout_padding" >
        <div class="container">
            <div class="row ">
                <div class="col-md-10" style="margin-left: auto;margin-right: auto">
                    <div style="margin-top: 0px" class="box">
                        <div class="img-box">
                            <div id="msg"></div>
                            <form onsubmit="return false" class=" input-group mb-3" >
                                    <input style="margin-left: 20px;margin-bottom: 20px;margin-top: 20px;border-radius: 5px 0 0 5px;border-right: 0px;" type="text" class="form-control" placeholder="留言 ..." id="content">
                                    <input  type="file" id="fileElem" multiple="true" accept="image/*" style="display:none" onchange="submitfile()">
                                    <button  style="margin-bottom: 20px;margin-top: 20px;border-radius:0px;border-right: 0;" class="btn btn-outline-secondary" type="button" id="fileSelect">
                                       <i class="far fa-file-alt"></i>
                                    </button>
                                    <button style="margin-bottom: 20px;margin-top: 20px;margin-right: 20px;border-radius: 0 5px 5px 0" class="btn btn-outline-secondary" type="button" onclick = "send_()">
                                       <i class="fa fa-send">send</i>
                                    </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="/assets/js/jquery.js"></script>
    <script>

        document.addEventListener('keydown', test);
        function test(){
            if(event.keyCode==13){
                axios.post('/learning/chat/{{course.id}}/',{
                    'content':$('#content').val()
                }).then(res=>{
                    if(res.data.errno == 0){
                        $('#msg').append($(`
                            <div style="display: flex;" class="d-flex">
                                    <div style="display: flex;float: right;flex-direction: row-reverse;" class="col-lg-12">
                                        <div class="client_container">
                                            <div class="client_id">
                                                <div style="padding: 10px 16px 1px 16px;background-color: #e1e1e1;border-radius:25px 25px 0 25px ;margin: 5px" class="detail-box">
                                                    <p style="display: flex;margin-bottom:10px">
                                                        ${res.data.msg}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        `))
                    }else if(res.data.errno == 1){
                        swal('系統錯誤','請稍後再試','error')
                    }
                })
            }
        }

        function send_(){
            axios.post('/learning/chat/{{course.id}}/',{
                'content':$('#content').val()
            }).then(res=>{
                if(res.data.errno == 0){
                    $('#msg').append($(`
                        <div style="display: flex;" class="d-flex">
                            <div style="display: flex;float: right;flex-direction: row-reverse;" class="col-lg-12">
                                <div class="client_container">
                                    <div class="client_id">
                                        <div style="padding: 10px 16px 1px 16px;background-color: #e1e1e1;border-radius:25px 25px 0 25px ;margin: 5px" class="detail-box">
                                            <p style="display: flex;margin-bottom:10px">
                                                ${res.data.msg}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `))
                }else if(res.data.errno == 1){
                    swal('系統錯誤','請稍後再試','error')
                }
            })
        }
        axios.post('/learning/load_msg/{{course.id}}/').then(res=>{
            if(res.data.errno == 0) {
                data = res.data.data
                data.forEach(item=>{
                    if (item.self){
                        if(item.pic){
                            $("#msg").append($(`
                                <div style="display: flex;" class="d-flex">
                                    <div style="display: flex;float: right;flex-direction: row-reverse;" class="col-lg-12">
                                        <div class="client_container">
                                            <div class="client_id">
                                                <div style="padding: 10px 16px 1px 16px;background-color: #e1e1e1;border-radius:25px 25px 0 25px ;margin: 5px" class="detail-box">
                                                    <img  src="/img/${item.msg}/" style="width:300px;display: flex;;margin-bottom:10px" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `))
                        }else{
                            $("#msg").append($(`
                                <div style="display: flex;" class="d-flex">
                                    <div style="display: flex;float: right;flex-direction: row-reverse;" class="col-lg-12">
                                        <div class="client_container">
                                            <div class="client_id">
                                                <div style="padding: 10px 16px 1px 16px;background-color: #e1e1e1;border-radius:25px 25px 0 25px ;margin: 5px" class="detail-box">
                                                    <p style="display: flex;;margin-bottom:10px">
                                                        ${item.msg}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `))
                        }
                    }else{    //別人傳的
                        if(item.is_admin){
                            if(item.pic){
                                $("#msg").append($(`
                                    <div style="display: flex;" class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img class="avatar" src="/img/user.png" alt="...">
                                        </div>
                                        <div style = "display-model: ">
                                            <div style="margin-top : 20px">
                                                ${item.sender} <span style="color: #8e9398">管理員</span> ${item.date}
                                                <div style="padding: 10px 16px 1px 16px;background-color: #e1e1e1;border-radius:0 25px 25px 25px" ;margin: 5px" class="detail-box">
                                                    <img  src="/img/${item.msg}/" style="width:300px;display: flex;;margin-bottom:10px" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                `))
                            }else{
                                $("#msg").append($(`
                                    <div style="display: flex;" class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img class="avatar" src="/img/user.png" alt="...">
                                        </div>
                                        <div style = "display-model: ">
                                            <div style="margin-top : 20px">
                                                ${item.sender} <span style="color: #8e9398">管理員</span> ${item.date}
                                                <div style="padding: 10px 16px 10px 16px;;background-color: #e1e1e1;border-radius:0 25px 25px 25px" class="detail-box">
                                                    <p style="margin:0px">
                                                        ${item.msg}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                `))
                            }
                        }else{ //別人傳的不是admin
                            if(item.pic){
                                $("#msg").append($(`
                                    <div style="display: flex;" class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img class="avatar" src="/img/user.png" alt="...">
                                        </div>
                                        <div style = "display-model: ">
                                            <div style="margin-top : 20px">
                                                ${item.sender} <span style="color: #8e9398"></span> ${item.date}
                                                <div style="padding: 10px 16px 10px 16px;;background-color: #e1e1e1;border-radius:0 25px 25px 25px" class="detail-box">
                                                    <img  src="/img/${item.msg}/" style="width:300px;display: flex;;margin-bottom:10px" class="img-fluid">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                `))
                            }else{
                                $("#msg").append($(`
                                    <div style="display: flex;" class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img class="avatar" src="/img/user.png" alt="...">
                                        </div>
                                        <div style = "display-model: ">
                                            <div style="margin-top : 20px">
                                                ${item.sender} <span style="color: #8e9398"></span> ${item.date}
                                                <div style="padding: 10px 16px 10px 16px;;background-color: #e1e1e1;border-radius:0 25px 25px 25px" class="detail-box">
                                                    <p style="margin:0px">
                                                        ${item.msg}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                `))
                            }
                        }
                    }
                })
            }
        })
        var fileSelect = document.getElementById("fileSelect"),
        fileElem = document.getElementById("fileElem");
        fileSelect.addEventListener("click", function (e) {
            if (fileElem) {
                fileElem.click();
            }
            e.preventDefault();
        }, false);
        function submitfile(){
            let formdata = new FormData();
            const file =  $('#fileElem')[0].files[0].name
            formdata.append('file',$('#fileElem')[0].files[0]);
            axios({
                url:'/learning/picture/{{course.id}}/',
                method:'post',
                data:formdata,
                headers:{'Content-Type': 'multipart/form-data;charset=UTF-8'}
            }).then(res=>{
                if(res.data.errno == 0){
                    swal('成功送出','','success')
                    $('#list').append($(`
                        <div id="document-${res.data.id}" style="margin-top: 15px;margin-bottom: 15px">
                            <a style="margin-left: 5px;color: #017496">${file}</a> <a style="margin-right: 5px;color: #017496;float: right" onclick="delete_(${res.data.id})"><i class="fa fa-window-close"></i></a>
                        </div>
                    `))
                    $("#msg").append($(`
                            <div style="display: flex;" class="d-flex">
                                <div style="display: flex;float: right;flex-direction: row-reverse;" class="col-lg-12">
                                    <div class="client_container">
                                        <div class="client_id">
                                            <div style="padding: 10px 16px 1px 16px;background-color: #e1e1e1;border-radius:25px 25px 0 25px ;margin: 5px" class="detail-box">
                                                <img  src="/img/msg/${res.data.photo}/" style="width:300px;display: flex;margin-bottom:10px" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    `))
                }
            })
        }
    </script>
    {% endblock %}

