{% extends 'index.html' %}

{% block content %}
<main class="site-main page-wrapper woocommerce single single-product">
    <section class="space-3">
        <div class="container">
                <div class="col-md-6"  style="margin-right: auto;margin-left: auto">
                    <div class="woocommerce-notices-wrapper"></div>
                    <form class="woocommerce-form woocommerce-form-login login" method="post">
                        <h2 class="font-weight-bold mb-4">登入</h2>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="username">使用者名稱&nbsp;<span class="required">*</span></label>
                            <input style="height:50px"  type="text" class="woocommerce-Input woocommerce-Input--text input-text form-control"  id="username"   placeholder="使用者名稱">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="password">密碼&nbsp;<span class="required">*</span></label>
                            <input style="height:50px"  class="woocommerce-Input woocommerce-Input--text input-text form-control" type="password"  id="password" placeholder="密碼">
                        </p>
                        <button style="height:50px;margin-top:20px " type="button" onclick="login()" class="woocommerce-button button woocommerce-form-login__submit" >登入</button>
                    </form>
                </div>
        </div>
    </section>
</main>


<script>
    let click_num = 0
    $('.navbar-toggler').click(()=>{
        click_num +=1
        if(click_num%2 == 0){
            $('#navbar__').addClass('nav')
        }else{
            $('#navbar__').removeClass('nav')
        }
    })
    let drop_num = 0
    $('#navbar3').click(()=>{
        drop_num +=1
        if(drop_num % 2== 0){
            $('#conceal-dropdown').addClass('conceal-dropdown')
        }else{
            $('#conceal-dropdown').removeClass('conceal-dropdown')
        }
    })
    document.addEventListener('keydown', input);
    function input(){
        if(event.keyCode==13){
            axios.post("/learning/login/",{
                'username':$('#username').val(),
                'password':$('#password').val()
            }).then(res=>{
                if(res.data.errno == 0){
                    swal({
                        'title':'登入成功',
                        'text':'正在為您導向主畫面',
                        'button':false,
                        'icon':'success',
                        'timer':1500,
                    })
                    setTimeout(()=>{
                        location.href = '/learning/'
                    },1500)
                }else if(res.data.errno == 1){
                    swal({
                        'title':'登入失敗',
                        'text':'不符學員身份或帳號不存在',
                        'button':['確認'],
                        'icon':'error'
                    })
                }else if (res.data.errno == 2){
                    swal({
                        'title':'登入失敗',
                        'text':'錯誤',
                        'button':['確認'],
                        'icon':'error'
                    })
                }
                else {
                    swal({
                        'title':'登入失敗',
                        'text':'管理員帳號',
                        'button':['確認'],
                        'icon':'error'
                    })
                }
            })
        }
    }
    function login(){
        axios.post("/learning/login/",{
            'username':$('#username').val(),
            'password':$('#password').val()
        }).then(res=>{
            if(res.data.errno == 0){
                swal({
                    'title':'登入成功',
                    'text':'正在為您導向主畫面',
                    'button':false,
                    'icon':'success',
                    'timer':1500,
                })
                setTimeout(()=>{
                    location.href = '/learning/'
                },1500)
            }else{
                console.log(res.data.errno)
                swal({
                    'title':'登入失敗',
                    'text':'不符學員身份或帳號不存在',
                    'button':['確認'],
                    'icon':'error'
                })
            }
        })
    }
</script>
{% endblock %}

