{% extends 'index.html' %}

{%block nav%}
<link rel="stylesheet" href="/assets/css/navbar.css">

<style>
    .nav{
        display: none;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 0;
        align-items: center;
    }
    .nav-btn {
        color: #212529;
        border: 1.5px solid black;
        padding: 0.45rem 0.9rem;
        font-weight: 500;
        background-color: #ffffff;
    }
    .logout_out_btn{
        border-color: #25ac96;
        color: #ffffff;
        background-color: #25ac96;
    }
    .logout_out_btn:hover{
        border-color: #385777;
        background-color: #385777;
    }
    @media(max-width: 991px){
        .nav-btn {
            margin-top: 15px;
            margin-bottom: 25px;
        }
        .conceal-dropdown{
            display: none !important;
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: 4px 24px;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
    }
</style>


<div class="site-navigation main_menu menu-style-2" id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" >
                    <img src="/img/logo_4.png"  class="img-fluid">
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-dimiss="collapse" data-toggle="collapse" data-target="#navbar__" aria-controls="navbar__" aria-expanded="false" aria-label="Toggle navigation">
                    <span id = "navbar" class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse " id="navbar__">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/#service" id="navbar3" role="button"  >
                                服務項目<i class="fa fa-angle-down"></i>
                            </a>
                            <div id ="conceal-dropdown" class="dropdown-menu conceal-dropdown" aria-labelledby="navbar3">
                                <a class="dropdown-item " href="/more/2/">
                                     c 語言程式設計
                                </a>
                                <a class="dropdown-item " href="/more/3/">
                                    python 程式設計
                                </a>
                                <a class="dropdown-item " href="/more/1/">
                                    python 程式設計
                                </a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a href="/#contact" class="nav-link js-scroll-trigger">
                                聯絡我們
                            </a>
                        </li>

                    </ul>
                    <div class="header-login">
                        <a href = "/learning/" style="margin-left: 17px"  class="btn btn-solid-border btn-sm nav-btn">我的課程</a>
                        <a style="color: white" onclick="logout()" class="btn btn-main btn-sm nav-btn logout_out_btn">登出</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<script>


</script>
{%endblock%}


{% block content %}
<style>
    .author-img img {
        border-radius: 100%;
        border: 0px solid #fff;
        margin-top: -20px;
        width: 70px;
    }
    .author-img{
        border-radius: 100%;
        border: 0px solid #fff;
        margin: 0px;
        width: 70px;
    }
    .blog-sidebar .widget.widget-search .search-form [type=submit] {
        color: #fff;
        background: #20ad96;
        border: 1px solid #20ad96;
        padding: 13.3px 18px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
    }
    .author {
        margin-top :0px;
        margin-bottom:40px;
        padding: 40px;
        padding-bottom: 20px;
        border: 1px dashed #ddd;
        position: relative;
        border-radius: 5px;
/*         height */
    }
    .recent-posts li {
        clear: both;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        padding-bottom: 40px;
    }
    .img-fluid {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
    }
</style>
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>歡迎回來 {{request.user.username}} !</h1>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            文宏教育 正在改寫你的人生篇章
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xl-8">
                <div style="display:flex;height:114px" class="author">
                    <div style="margin: 0" class="author-img">
                        <img src="/img/user.png" alt="" class="img-fluid">
                    </div>
                    <div id="teacher" class="author-info">

                    </div>
                </div>
                <div style="padding:25px" class="author">
                    <div  class="post-single" id = "mycourse">
                    </div>
                </div>
      		</div>
      		<div class="col-lg-4 col-xl-4">
				<div class="blog-sidebar mt-5 mt-lg-0">
                    <div class="widget widget-search">
                        <form role="search" class="search-form">
                            <input id="search" type="text" class="form-control" placeholder="搜尋課名">
                            <button onclick="search_()" type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_latest_post">
                        <h4 class="widget-title">所有課程</h4>
                        <ul id="course_list" class="recent-posts">
                        </ul>
                    </div>
                </div>
      		</div>
		</div>
	</div>
</div>
<script src="/assets/js/script.js"></script>
<script src="/assets/vendors/jquery/jquery.js"></script>
<script src="/assets/vendors/bootstrap/bootstrap.js"></script>
<script src="/assets/vendors/counterup/waypoint.js"></script>
<script src="/assets/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/assets/vendors/jquery.isotope.js"></script>
<script src="/assets/vendors/owl/owl.carousel.min.js"></script>
<script src="/assets/vendors/google-map/map.js"></script>
<script src="/assets/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>
    let click_num = 0
    $('.navbar-toggler').click(()=>{
        click_num +=1
        if(click_num%2 == 0){
            $('#navbar__').addClass('nav')
        }else{
            $('#navbar__').removeClass('nav')
        }
    })
    let drop_num = 0
    $('#navbar3').click(()=>{
        drop_num +=1
        if(drop_num % 2== 0){
            $('#conceal-dropdown').addClass('conceal-dropdown')
        }else{
            $('#conceal-dropdown').removeClass('conceal-dropdown')
        }
    })
    axios.post(`/learning/`).then((res)=>{
        if (res.data.errno == 2){}
        courses = res.data.courses
        courses.forEach(item=>{
            $('#course_list').append(`
                <li>
                    <div class="widget-post-thumb">
                        <a onclick="load(${item.id})"><img style=";height:80px;object-fit: cover;" src="/img/${item.photo}/" alt="" class="img-fluid"></a>
                    </div>
                    <div class="widget-post-body">
                        <h6> <a onclick="load(${item.id})">${item.name}</a></h6>
                        <span>教師：${item.teacher}</span>
                    </div>
                </li>
            `)
        })
        $('#course_list').append(`<div></div>`)
        course = res.data.courses[0]
        $('#mycourse').append(`
                       <div class="post-thumb">
                            <img src="/img/${course.photo}" alt="" class="img-fluid">
                        </div>
                        <div id = "course_document" class="single-post-content">
                            <h4>${course.name}</h4>
                            <a style="margin: 8px;color: #3f3a64" href="/learning/chat/${res.data.id}/">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-comments"></i>線上討論區
                            </a>
                            <br>
                            <a style="margin: 8px;color: #3f3a64" href="https://meet.google.com/${course.meet}">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-video"></i>線上上課連結
                            </a>
                            <br>
                        </div>
                `)
        let document = res.data.document
        document.forEach(item=>{
            $('#course_document').append(`
                            <a style="margin: 8px;color: #3f3a64" href="/img/file/${item.path}/">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-file"></i>${item.title}
                            </a><br>
            `)
        })
        $('#teacher').empty()
        $('#teacher').append(`
                    <h4>教師：${course.teacher}</h4>
        `)
    })
    function load(id){
        axios.post(`/learning/load/${id}/`).then(res=>{
            $('#mycourse').empty()
            let course = res.data.courses[0]
            $('#mycourse').append(`
                            <div class="post-thumb">
                                <img src="/img/${course.photo}" alt="" class="img-fluid">
                            </div>
                            <div id = "course_document" class="single-post-content">
                                <h4>${course.name}</h4>
                                <a style="margin: 8px;color: #3f3a64" href="/learning/chat/${res.data.id}/">
                                    <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-comments"></i>線上討論區
                                </a>
                                <br>
                                <a style="margin: 8px;color: #3f3a64" href="https://meet.google.com/${course.meet}">
                                    <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-video"></i>線上上課連結
                                </a>
                                <br>
                            </div>
                    `)
            let document = res.data.document
            document.forEach(item=>{
                $('#course_document').append(`
                            <a style="margin: 8px;color: #3f3a64" href="/img/file/${item.path}/">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-file"></i>${item.title}
                            </a><br>
                        `)
            })
            $('#teacher').ampty()
            $('#teacher').append(`
                       <h4>教師：${course.teacher}</h4>
                    `)
        })
    }
    $('#search').keyup(()=>{
        axios.post('/learning/search/',{
            'name':$('#search').val()
        }).then((res)=>{
            if(res.data.errno == 0){
                $("#course_list").empty()
                datas = res.data.datas
                datas.forEach(item=>{
                    $('#course_list').append(`
                                    <li>
                                        <div class="widget-post-thumb">
                                            <a onclick="load(${item.id})"><img style=";height:80px;object-fit: cover;" src="/img/${item.photo}/" alt="" class="img-fluid"></a>
                                        </div>
                                        <div class="widget-post-body">
                                            <h6> <a onclick="load(${item.id})">${item.name}</a></h6>
                                            <span>教師：${item.teacher}</span>
                                        </div>
                                    </li>
                                `)
                })
            }
        })
    })
    function logout(){
        swal({
            title:'確定要登出',
            buttons:['取消','確認'],
            icon: 'info'
        }).then(confirm=>{
            if(confirm){
                axios.post('/myadmin/logout/').then((res)=>{
                    if(res.data.errno == 0){
                        swal({
                            title:'已成功登出',
                            text: '歡迎再次回來',
                            buttons:false,
                            icon: 'success',
                            timer: 1500
                        })
                    }
                }).then(()=>{
                    setTimeout(()=>{
                        window.location = '/learning/login'
                    },1500)
                })
            }
        })
    }
</script>

{% endblock %}


