{% extends 'index.html' %}

{% block nav %}
<style>
    .site-navigation {
        padding: 0px;
        border-bottom: 1px solid #EBF4F8;
    }
    .navbar-brand img {
        width: 236px;
        height: 45px;
}
</style>
<header>


    <div class="site-navigation main_menu menu-transparent" id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid container-padding">
                <a class="navbar-brand" href="index.html">
                    <img src="/img/logo_4.png" alt="Eduhash" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mx-auto"></ul>

                    <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                         <a style="font-size: 1rem;color:#001327" class="btn btn-main btn-sm" href="/learning/" role="button" >我的課程</a>
                    </div>
                    <div class="header-login">
                        <a style="font-size: 1rem;" onclick="logout_()" class="btn btn-main btn-sm">登出</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
<script>
        function logout_(){
            swal({
                'title':'確定要登出嗎',
                'text':'',
                'buttons':['取消','確認'],
                'icon':'info',
            }).then(confirm=>{
                if(confirm) {
                    axios.post('/myadmin/logout/').then(()=>{
                        swal({
                            'title':'已登出',
                            'text':'正在導向主頁面',
                            'buttons':false,
                            'icon':'success',
                            'timer':1500,
                        })
                        setTimeout(()=>{
                            location.href = '/'
                        },1500)
                    })
                }
            })
        }
</script>
{% endblock %}


{% block content %}
<style>
    .blog-sidebar .widget.widget-search .search-form [type=submit] {
        color: #fff;
        background: #20ad96;
        border: 1px solid #20ad96;
        padding: 13.3px 18px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
    }
    .author {
        margin-top :0px;
        margin-bottom:40px;
        padding: 40px;
        border: 1px dashed #ddd;
        position: relative;
        border-radius: 5px;
    }
    .author .author-img img {
        border-radius: 100%;
        border: 0px solid #fff;
    }
    .recent-posts li {
        clear: both;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        padding-bottom: 40px;
    }
</style>

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <h1>歡迎回來 {{request.user.username}} !</h1>
          <ul class="list-inline mb-0">

            <li class="list-inline-item">
                文宏教育 正在改寫你的人生篇章
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>





<div class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xl-8">
                <div class="author">
                    <div class="author-img">
                        <img src="/assets/images/blog/author.jpg" alt="" class="img-fluid">
                    </div>
                    <div id="teacher" class="author-info">

                    </div>
                </div>
                <div style="padding:25px" class="author">
        		<div  class="post-single" id = "mycourse">

                </div>
                </div>
      		</div>
      		<div class="col-lg-4 col-xl-4">
				<div class="blog-sidebar mt-5 mt-lg-0">
                    <div class="widget widget-search">
                        <form role="search" class="search-form">
                            <input id="search" type="text" class="form-control" placeholder="搜尋課名">
                            <button onclick="search_()" type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_latest_post">
                        <h4 class="widget-title">所有課程</h4>
                        <ul id="course_list" class="recent-posts">
                        </ul>
                    </div>
                </div>
      		</div>
		</div>
	</div>
</div>



    <script src="/assets/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
        <script>
            axios.post(`/learning/`).then((res)=>{
                courses = res.data.courses
                courses.forEach(item=>{
                    $('#course_list').append(`
                        <li>
                            <div class="widget-post-thumb">
                                <a onclick="load(${item.id})"><img style=";height:80px;object-fit: cover;" src="/img/${item.photo}/" alt="" class="img-fluid"></a>
                            </div>
                            <div class="widget-post-body">
                                <h6> <a onclick="load(${item.id})">${item.name}</a></h6>
                                <span>教師：${item.teacher}</span>
                            </div>
                        </li>
                    `)
                })
                $('#course_list').append(`<div></div>`)

                course = res.data.courses[0]
                $('#mycourse').append(`
                        <div class="post-thumb">
                            <img src="/img/${course.photo}" alt="" class="img-fluid">
                        </div>
                        <div id = "course_document" class="single-post-content">
                            <h4>${course.name}</h4>
                            <a style="margin: 8px;color: #3f3a64" href="/learning/chat/${res.data.id}/">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-comments"></i>線上討論區
                            </a>
                            <br>
                            <a style="margin: 8px;color: #3f3a64" href="https://meet.google.com/${course.meet}">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-video"></i>線上上課連結
                            </a>
                            <br>
                        </div>
                `)
                let document = res.data.document

                document.forEach(item=>{
                        $('#course_document').append(`
                            <a style="margin: 8px;color: #3f3a64" href="/img/file/${item.title}/">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-file"></i>${item.title}
                            </a><br>
                        `)
                })
                $('#teacher').empty()
                $('#teacher').append(`
                    <h4>教師：${course.teacher}</h4>
                `)
            })
            function load(id){
                axios.post(`/learning/load/${id}/`).then(res=>{
                    $('#mycourse').empty()
                    let course = res.data.courses[0]
                    $('#mycourse').append(`
                            <div class="post-thumb">
                                <img src="/img/${course.photo}" alt="" class="img-fluid">
                            </div>
                            <div id = "course_document" class="single-post-content">
                                <h4>${course.name}</h4>
                                <a style="margin: 8px;color: #3f3a64" href="/learning/chat/${res.data.id}/">
                                    <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-comments"></i>線上討論區
                                </a>
                                <br>
                                <a style="margin: 8px;color: #3f3a64" href="https://meet.google.com/${course.meet}">
                                    <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-video"></i>線上上課連結
                                </a>
                                <br>
                            </div>
                    `)
                    let document = res.data.document
                    document.forEach(item=>{
                        $('#course_document').append(`
                            <a style="margin: 8px;color: #3f3a64" href="/img/file/${item.title}/">
                                <i style="margin: 8px;margin-left: 0px;color: #3f3a64" class="fa fa-file"></i>${item.title}
                            </a><br>
                        `)
                    })
                    $('#teacher').ampty()
                    $('#teacher').append(`
                        <h4>教師：${course.teacher}</h4>
                    `)
                })
            }
                $('#search').keyup(()=>{
                    axios.post('/learning/search/',{
                        'name':$('#search').val()
                    }).then((res)=>{
                        if(res.data.errno == 0){
                            $("#course_list").empty()
                            datas = res.data.datas
                            datas.forEach(item=>{
                                $('#course_list').append(`
                                    <li>
                                        <div class="widget-post-thumb">
                                            <a onclick="load(${item.id})"><img style=";height:80px;object-fit: cover;" src="/img/${item.photo}/" alt="" class="img-fluid"></a>
                                        </div>
                                        <div class="widget-post-body">
                                            <h6> <a onclick="load(${item.id})">${item.name}</a></h6>
                                            <span>教師：${item.teacher}</span>
                                        </div>
                                    </li>
                                `)
                            })
                        }
                    })
                })
        </script>

{% endblock %}


